<h1>Some Milestones of Internet History</h1>
<h2>{{title}}</h2>
<h2>In {{year}}</h2>
{{#if url}}
<a href="{{url}}">
    <img src="{{url}}" alt="{{title}}">
</a>
{{/if}}
{{#if next}}
<a class="next" href="/?information={{next}}"><h3><strong>Next</strong></h3></a>
{{/if}} 